<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Message</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="greet">
        <h1>HEY</h1>
        <h2>welcome to the site</h2>
    </div>
    <h3>the post a message site</h3>
    <h4>make an account, login, post a message</h4>
    <hr>
    <div class="links">
        <a href="/createUser"><button>Create an account</button></a> | 
        <a href="/login"><button>Login</button></a> | 
        <a href="/Home"><button>Home</button></a> | 
    </div>       
    <hr>

    <h2>make a message</h2>

    <div class="container">
        <form action="/message" method="POST">
            message:
            <input id="message" type="text" name="content"> <br>
            <button>submit</button>
        </form>
    </div>

</body>
</html>